html,body{
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.main{
    display: flex;
    flex-wrap: wrap;
  
}
.cardItem{
    position: relative;
    min-width: 12%;
    max-width: 12%;
    height: 23rem;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 5%;
    border: 3px solid rgb(0, 39, 112);
    background: rgb(193, 214, 230);
    overflow: hidden;   
}
.content{
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}
.content > div{
    margin-top: 5%;
}
.photo{
    height: 70%;
    max-height: 70%;
    width: 70%;
    overflow: hidden;
}
.photo img{
    height: 100%;
    width: 100%;
    max-width: 100%;
    max-height: 100%;
}

.add-button{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5%;
    margin-right: 2%;
}
.bookTitle{
    text-align: center;
}
.bookAuthor{
    font-size: small;
    text-align: center;
}


.progress-wrapper{
    position: relative;
    width: 90%;
    max-width: 90%;
    max-height: 8%;
}
.status{
    color: transparent;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    overflow: hidden;
}
.progress-filled{
    position: absolute;
    top: 0;   
    left: 0;
    width: 0%;
    background-color: rgb(102, 207, 102);
    border-radius: 5px;
    transition: width 3s;
    z-index: 0;
}
.amount{
    color: black;
    position: absolute;
    font-weight: bolder;
    z-index: 1;
    top: 0;
    right: 0;
}
[data-item="0"]> .content > .progress-wrapper > .status > .progress-filled{
    width: 50%;
}



.edits{
    width: 100%;
    display: inline-flex;
    flex-direction: row;
}

input[type=checkbox]{
    transform: scale(1.3);
}

.pages-read-text{
    font-size: smaller;
    font-style: italic;
    white-space: nowrap;
    overflow: hidden;
    max-height: 100%;
}
.pages-read-text:focus-within{
    outline: 2px solid rgb(233, 172, 172);
    font-size: 1.5em;
}
.pages-read-text > span:focus{
    outline: none;
    border: none;
}

[contenteditable="true"].readPages,[contenteditable="true"].totalPages {
    white-space: nowrap;
    overflow: hidden;
} 
[contenteditable="true"].readPages br ,[contenteditable="true"].totalPages br{
    display:none;

}
[contenteditable="true"].readPages *, [contenteditable="true"].totalPages * {
    display:inline;
    white-space:nowrap;
}

.main-toggle{
    width: 65%;
    display: flex;
    justify-content: flex-end;
}
.toggle-label{
    display: inline-block;
    height: 10%;
    font-size: medium;
    font-weight: 600;
    margin-right: 10%;
}
.change{
    position: absolute;
    top: 0;
    left: 0;
    width: 20%;
}
.remove{
    position: absolute;
    top: 0;
    right: 0;
    width: 20%;
}

.edit-page{
    border-right: 1.5px solid black;
    border-bottom: 1.5px solid black;
    border-top: none;
    border-left: none;
    border-radius: 5%;
    border-bottom-right-radius: 20%;
    width: 100%;
    height: 2.5em;
}
.edit-page img{
    max-width: 80%;
    max-height: 80%;
}

.delete-book{
    border-left: 1.5px solid black;
    border-bottom: 1.5px solid black;
    border-top: none;
    border-right: none;
    border-radius: 5%;
    border-bottom-left-radius: 20%;
    height: 2.5em;
    width: 100%;
}
.delete-book img{
    max-width: 75%;
    max-height: 75%;
}
.edit-page,.delete-book{
    background-color: transparent;
}
.edit-page:hover{
    background-color: rgb(219, 219, 118);
}
.delete-book:hover{
    background-color: rgb(252, 105, 105);
}