html,body{
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
}
.main{
    display: flex;
    flex-wrap: wrap;
  
}
.cardItem{
    min-width: 12%;
    max-width: 12%;
    height: 23rem;
    margin-top: 2%;
    margin-left: 2%;
    border-radius: 5%;
    background: rgb(138, 151, 160);   
}
.content{
    height: 100%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 2%;
    padding-right: 2%;
}
.content > div{
    margin-top: 5%;
}
.photo{
    height: 60%;
    width: 80%;
}

.add-button{
    display: flex;
    justify-content: flex-end;
    margin-top: 1.5%;
    margin-right: 2%;
}
.bookTitle{
    text-align: center;
}
.bookAuthor{
    font-size: small;
    text-align: center;
}
.addPhoto{
    height: 100%;
    width: 100%;
    background-color: rgb(223, 223, 223);
}

.progress-wrapper{
    position: relative;
    width: 90%;
    max-width: 90%;
    max-height: 8%;

}
.status{
    color: transparent;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    overflow: hidden;
}
.progress-filled{
    position: absolute;
    top: 0;   
    left: 0;
    width: 0%;
    background-color: rgb(102, 207, 102);
    border-radius: 5px;
    transition: width 3s;
    z-index: 0;
}
.amount{
    color: black;
    position: absolute;
    font-weight: bolder;
    z-index: 1;
    top: 0;
    right: 0;
}
[data-item="0"]> .content > .progress-wrapper > .status > .progress-filled, [data-item="1"] .content > .progress-wrapper > .status > .progress-filled{
    width: 50%;
}
